<table class="table table-striped <%= dom_class(curation_concern) %> attributes">
  <caption class="table-heading"><h2>Attributes</h2></caption>
  <thead>
  <tr><th>Attribute Name</th><th>Values</th></tr>
  </thead>
  <tbody>
  <%= curation_concern_attribute_to_html(curation_concern, :id, "Id") %>
  <%= curation_concern_attribute_to_html(curation_concern, :publisher, "Publisher") %>
  <%= curation_concern_attribute_to_html(curation_concern, :title_alternative, "Alternative title") %>
  <%= curation_concern_attribute_to_html(curation_concern, :title_previous, "Previous title") %>
  <%= curation_concern_attribute_to_html(curation_concern, :title_next, "Next title") %>
  <%= curation_concern_attribute_to_html(curation_concern, :organisation, "Organisation") %>
  <%= curation_concern_attribute_to_html(curation_concern, :issn, "ISSN") %>
  <%= curation_concern_attribute_to_html(curation_concern, :coden, "CODEN") %>
  <%= curation_concern_attribute_to_html(curation_concern, :publisher, "Publisher") %>
  <%= curation_concern_attribute_to_html(curation_concern, :notes, "Notes") %>
  <%= curation_concern_attribute_to_html(curation_concern, :holdings, "Holdings") %>
  <%= hierarchical_attribute_to_html(curation_concern, :physical_location, 'Physical location', { catalog_search_link: false }) %>
  <%= hierarchical_attribute_to_table(curation_concern, :z30, 'Issues', { catalog_search_link: false, subfields: [:collection, :shelf_code, :barcode, :description, :status_text] }) %>
  <tr>
    <th>Access Rights</th>
    <td>
      <%= permission_badge_for(curation_concern) %>
    </td>
  </tr>
  <%= curation_concern_attribute_to_html(curation_concern, :embargo_release_date, "Embargo Release Date") %>
  <%= curation_concern_attribute_to_html(curation_concern, :lease_expiration_date, "Lease Expiration Date") %>
  <%= curation_concern_attribute_to_html(curation_concern, :rights, "Content License") %>
  </tbody>
</table>
