<table class="table table-striped <%= dom_class(curation_concern) %> attributes">
  <caption class="table-heading"><h2>Attributes</h2></caption>
  <thead>
  <tr><th>Attribute Name</th><th>Values</th></tr>
  </thead>
  <tbody>
  <%= curation_concern_attribute_to_html(curation_concern, :id, "Id") %>
  <%= curation_concern_attribute_to_html(curation_concern, :publisher, "Publisher") %>
  <%= curation_concern_attribute_to_html(curation_concern, :title_alternative, "Alternative title") %>
  <%= curation_concern_attribute_to_html(curation_concern, :title_previous, "Previous title") %>
  <%= curation_concern_attribute_to_html(curation_concern, :title_next, "Next title") %>
  <%= curation_concern_attribute_to_html(curation_concern, :organisation, "Organisation") %>
  <%= curation_concern_attribute_to_html(curation_concern, :issn, "ISSN") %>
  <%= curation_concern_attribute_to_html(curation_concern, :coden, "CODEN") %>
  <%= curation_concern_attribute_to_html(curation_concern, :publisher, "Publisher") %>
  <%= curation_concern_attribute_to_html(curation_concern, :notes, "Notes") %>
  <%= curation_concern_attribute_to_html(curation_concern, :holdings, "Holdings") %>
  <%= hierarchical_attribute_to_html(curation_concern, :physical_location, 'Physical location', { catalog_search_link: false }) %>
  <tr>
    <td>Issues:</td>
    <td>
      <table width="100%">
        <tr>
          <th>Collection</th>
          <th>Shelf code</th>
          <th>Barcode</th>
          <th>Description</th>
          <th>Status</th>
        </tr>
        <% issues = JSON.parse curation_concern.issues %>
        <% issues.each do |z30| %>
          <tr>
            <td><%= z30['collection'] %></td>
            <td><%= z30['shelf_code'] %></td>
            <td><%= z30['barcode'] %></td>
            <td><%= z30['description'] %></td>
            <td><%= z30['status_text'] %></td>
          </tr>
        <% end %>
      </table>
    </td>
  </tr>
  <tr>
    <th>Access Rights</th>
    <td>
      <%= permission_badge_for(curation_concern) %>
    </td>
  </tr>
  <%= curation_concern_attribute_to_html(curation_concern, :embargo_release_date, "Embargo Release Date") %>
  <%= curation_concern_attribute_to_html(curation_concern, :lease_expiration_date, "Lease Expiration Date") %>
  <%= curation_concern_attribute_to_html(curation_concern, :rights, "Content License") %>
  </tbody>
</table>
