<%# default partial to display solr document fields in catalog show view -%>
<dl class="dl-horizontal  dl-invert">
    <% document_show_fields(document).each do |solr_fname, field| -%>
        <% if should_render_show_field? document, field %>
            <dt class="blacklight-<%= solr_fname.parameterize %>"><%= render_document_show_field_label document, :field => solr_fname %></dt>
            <dd class="blacklight-<%= solr_fname.parameterize %>"><%= render_document_show_field_value document, :field => solr_fname %></dd>
        <% end -%>
    <% end -%>
    <dt class="blacklight-">Location:</dt>
    <dd class="blacklight-">
    <% (0..20).each do |i| %>
        <% if document.get 'physical_location_' + i.to_s + '_place_tesim' %>
            <li>
                <%= document.get 'physical_location_' + i.to_s + '_place_tesim' %>
                <% if document.get 'physical_location_' + i.to_s + '_years_tesim' %>
                    (<%= document.get 'physical_location_' + i.to_s + '_years_tesim' %>)
                <% end -%>
                <% if document.get 'physical_location_' + i.to_s + '_note_tesim' %>
                    <div style="margin-left: 15px;">Notes: <%= document.get 'physical_location_' + i.to_s + '_note_tesim' %></div>
                <% end -%>
            </li>
        <% end -%>
    <% end -%>
    </dd>
    <% if document.get 'z30_0_sub_library_ssm' %>
        <div id="issues_control">
            <dt class="blacklight-"><span id="issues_show"><a href=#" style="font-size: 1.5em; font-weight: bold;">+&nbsp;</a></span>Issues:</dt>
        </div>
        <div id="issues" style="display: none;">
            <dt class="blacklight-"><span id="issues_hide"><a href=#" style="font-size: 1.5em; font-weight: bold;">-&nbsp;</a></span>Issues:</dt>
            <dd class="blacklight-">
                <table width="80%">
                    <tr><td>&nbsp;</td></tr>
                    <tr>
                        <th>Collection</th>
                        <th>Shelf code</th>
                        <th>Barcode</th>
                        <th>Description</th>
                        <th>Status</th>
                    </tr>
                    <% (0..2500).each do |i| %>
                        <% if document.get 'z30_' + i.to_s + '_sub_library_ssm' %>
                            <tr>
                                <td><%= document.get 'z30_' + i.to_s + '_collection_ssm' %></td>
                                <td><%= document.get 'z30_' + i.to_s + '_shelf_code_ssm' %></td>
                                <td><%= document.get 'z30_' + i.to_s + '_barcode_ssm' %></td>
                                <td><%= document.get 'z30_' + i.to_s + '_description_ssm' %></td>
                                <td><%= document.get 'z30_' + i.to_s + '_status_text_ssm' %></td>
                            </tr>
                        <% end -%>
                    <% end -%>
                </table>
            </dd>
        </div>
    <% end -%>
</dl>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $("#issues_hide").click(function(){
            $("#issues").hide();
            $("#issues_control").show();
        });
        $("#issues_show").click(function(){
            $("#issues").show();
            $("#issues_control").hide();
        });
    });
</script>
